@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mooli&family=Open+Sans:ital,wght@0,300;0,500;0,600;1,600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 /* font-family: 'Luckiest Guy',
 cursive;
 font-family: 'Mooli',
 sans-serif;
 font-family: 'Open Sans',
 sans-serif; */

body{
 
    font-family: 'Space Grotesk', sans-serif;
}


.menu-sm{
    
}
.menu-sm li{
    @apply border-b-2 my-2
}
.menu-sm li:hover{
    @apply border-b-2 border-blue-500 text-blue-500 transition-all duration-300
}
.active{
    @apply text-blue-500 font-bold
}

